{% if filename %}
    <div class="shell">
      <div class="container">
  
        <div class="row">
          <div class="col-md-6">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img">
                <img src="/static/uploads/{{ filename }}" alt="Product" class="img-responsive" />
              </div>
              <div class="wsk-cp-text">
                <div class="category">
                  <span>Uploaded Image</span>
                </div>
              </div>
            </div>
          </div>

          {% for filepath in filesPathList %}
          <div class="col-md-3">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img"><img src="https://fitzy-models.s3.ap-south-1.amazonaws.com/{{filepath}}" alt="Product" class="img-responsive" /></div>
              <div class="wsk-cp-text">
              </div>
            </div>
          </div>
          {% endfor %}
          
        </div>
      </div>
    </div>

{% endif %}