{% extends 'base.html' %}

{% block content %}

{% if filename %}
  <div class="row" id="uploaded">
      <div class="col-md-6">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <img
              src="/static/uploads/{{ filename }}"
              alt="Product" class="img-responsive" />
          </div>
          <div class="wsk-cp-text">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <img
              src="/static/uploads/{{ filename }}"
              alt="Product" class="img-responsive" />
          </div>
          <div class="wsk-cp-text">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <img
              src="/static/uploads/{{ filename }}"
              alt="Product" class="img-responsive" />
          </div>
          <div class="wsk-cp-text">

          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <img
              src="/static/uploads/{{ filename }}"
              alt="Product" class="img-responsive" />
          </div>
          <div class="wsk-cp-text">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <img
              src="/static/uploads/{{ filename }}"
              alt="Product" class="img-responsive" />
          </div>
          <div class="wsk-cp-text">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <img
              src="/static/uploads/{{ filename }}"
              alt="Product" class="img-responsive" />
          </div>
          <div class="wsk-cp-text">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <img
              src="/static/uploads/{{ filename }}"
              alt="Product" class="img-responsive" />
          </div>
          <div class="wsk-cp-text">
          </div>
        </div>
      </div>
    </div>
{% endif %}
{% endblock %}